<template>

	<section>
		<div class="row justify-content-center pt-4" v-if="!loading">
			<div class="col col-sm-12 col-md-8 p-0" v-if="service['name'] != '' && service['name'] != null">
				<table class="table mb-5">
					<tbody>
						<tr>
							<td class="td-align p-3">
								<h4 class="m-0 text-primary lead lead-service">{{ service["name"] }}</h4>
								<span class="text-muted">{{ service["sub"] }}</span>
							</td>
							<td class="td-align lead text-center">${{ service["price"] }}</td>
						</tr>
						<tr>
							<td></td>
							<td class="text-center"><small>Monthly Recurring Fee</small></td>
						</tr>
					</tbody>
				</table>

				<div class="card">
					<div class="card-body">

						<div class="row">

							<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
								<form v-on:submit.prevent="submit()" id="stripe-form">
									<h5 class="card-title">Customer Details</h5>
									<h6 class="card-subtitle mb-4 text-muted">Kindly Fillup all required fields</h6>

									<div class="row">
										<div class="col-12">
											<input type="email" class="form-control" placeholder="Email" required v-model="email" :disabled="disable">
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<input type="text" class="form-control" placeholder="Fullname" required v-model="fullname" :disabled="disable">
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<input type="text" class="form-control" placeholder="Address" required v-model="address" :disabled="disable">
										</div>
									</div>

									<p class="text-danger my-4">{{ error }}</p>

									<button type="submit" :disabled="disable" class="btn btn-primary btn-block">Proceed</button>
								</form>
							</div>

							<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center pt-5" :class="{ 'disabled-widget': (disable == false) }">
								<div class="lead mb-3" v-if="disable">Click to Subscribe</div>
								<div class="lead mb-3" v-else>Fill the form on the left...</div>

								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" :class="{ 'disabled-payment': (disable == false) }" v-if="disable">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="YX5XXKHQVNY4N">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
									<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								</form>

								<div class="mt-4 pt-2 border-top text-muted">
									<i class="fas fa-credit-card fa-lg mr-1"></i>
									<i class="far fa-credit-card fa-lg mr-1"></i>
									<i class="fab fa-cc-paypal fa-lg mr-1"></i>
									<i class="fab fa-cc-mastercard fa-lg mr-1"></i>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col col-sm-12 col-md-8 p-0" v-else>
				<div class="text-center">
					<h1 class="font-weight-bold">Paypal Failed!</h1>
					<span class="d-block">No service has been specified</span>
				</div>
			</div>
		</div>
		<div v-if="loading" class="row justify-content-center pt-4">
			<spring-spinner :animation-duration="2500" :size="50" color="#15628E"/>
			<div class="ml-3 pt-2">
				<p class="lead m-0">processing payment...</p>
				<span class="text-danger my-4">{{ error }}</span>
			</div>
		</div>
	</section>

</template>


<style scoped src="./index.css"></style>


<script type="text/javascript" src="./index.js"></script>