
.card-subtitle {
	font-weight: 400
}

.td-align {
	vertical-align: middle;
}

.lead-service {
	font-size: 1.4rem;
}

.disabled-payment {
	pointer-events: none;
}

.disabled-widget {
	cursor: not-allowed;
}