<template>

	<section>
		<div class="row justify-content-center pt-4" v-if="!loading">
			<div class="col col-sm-12 col-md-8 p-0" v-if="service['name'] != '' && service['name'] != null">
				<table class="table mb-5">
					<tbody>
						<tr>
							<td class="td-align p-3">
								<h4 class="m-0 text-primary lead lead-service">{{ service["name"] }}</h4>
								<span class="text-muted">{{ service["sub"] }}</span>
							</td>
							<td class="td-align lead text-center">${{ service["price"] }}</td>
						</tr>
						<tr>
							<td></td>
							<td class="text-center"><small>Monthly Recurring Fee</small></td>
						</tr>
					</tbody>
				</table>

				<div class="card">
					<div class="card-body">
						<form v-on:submit.prevent="submit()" id="stripe-form">
							<h5 class="card-title">Customer Details</h5>
							<h6 class="card-subtitle mb-4 text-muted">Kindly Fillup all required fields</h6>
							<div class="row">
								<div class="col-6">
									<input type="email" class="form-control" placeholder="Email" required v-model="email" :disabled="disable">
								</div>
								<div class="col-6">
									<input type="text" class="form-control" placeholder="Fullname" required v-model="fullname" :disabled="disable">
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<input type="text" class="form-control" placeholder="Address" required v-model="address" :disabled="disable">
								</div>
							</div>

							<h5 class="card-title mt-5">Card Details</h5>
							<h6 class="card-subtitle mb-4 text-muted">We will not save your card details</h6>
							<div id="stripe-card" class="form-control border-bottom"></div>

							<p class="text-danger my-4">{{ error }}</p>

							<button type="submit" :disabled="disable" class="btn btn-primary btn-block">Submit Payment</button>
						</form>
					</div>
				</div>
			</div>

			<div class="col col-sm-12 col-md-8 p-0" v-else>
				<div class="text-center">
					<h1 class="font-weight-bold">Stripe Failed!</h1>
					<span class="d-block">No service has been specified</span>
				</div>
			</div>
		</div>
		<div v-if="loading" class="row justify-content-center pt-4">
			<spring-spinner :animation-duration="2500" :size="50" color="#15628E"/>
			<div class="ml-3 pt-2">
				<p class="lead m-0">processing payment...</p>
				<span class="text-danger my-4">{{ error }}</span>
			</div>
		</div>
	</section>

</template>


<style scoped src="./index.css"></style>


<script type="text/javascript" src="./index.js"></script>