<template>
	<div id="billing" class="pt-5">

		<div class="container">
			<div class="row pt-5">
				<div class="col-12 mb-4">
					<h1>Billing</h1>
				</div>
				<div class="col-12">

					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link lead active" id="pills-stripe-tab" data-toggle="pill" href="#pills-stripe" role="tab" aria-controls="pills-stripe" aria-selected="true">Stripe</a>
						</li>
						<li class="nav-item">
							<a class="nav-link lead" id="pills-paypal-tab" data-toggle="pill" href="#pills-paypal" role="tab" aria-controls="pills-paypal" aria-selected="false">Paypal</a>
						</li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-stripe" role="tabpanel" aria-labelledby="pills-stripe-tab">
							<stripe-form></stripe-form>
						</div>
						<div class="tab-pane fade" id="pills-paypal" role="tabpanel" aria-labelledby="pills-paypal-tab">
							<paypal-form></paypal-form>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</template>


<style scoped src="./index.css"></style>


<script type="text/javascript">
	import vue from "./index.js";
	export { vue as default }
</script>