
#biling {
	background: linear-gradient(#3498DB, #176F98);
	/*height: 100vh;*/
}

.nav-link {
	color: #222;
	font-size: 1rem;
}

.nav-link.active {
	background-color: transparent;
	color: #2196F3;
	font-weight: 400;
	border-bottom: 2px solid ;
	border-radius: 0px;
}