<template>
	<div class="container pt-5">
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">

				<div class="card">
					<div class="card-block">
						<form v-on:submit.prevent="signup" class="p-4">
							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="First Name" ref="firstname" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="Last Name" ref="lastname" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="Primary Address" ref="streetAddress1" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="Secondary Address (Optional)" ref="streetAddress2">
							</div>

							<div class="form-group form-row">
								<div class="col">
									<input type="text" class="form-control input-lg" placeholder="City" ref="city" required>
								</div>

								<div class="col">
									<input type="text" class="form-control input-lg" placeholder="State" ref="state">
								</div>

								<div class="col">
									<input type="text" class="form-control input-lg" placeholder="Zip" ref="zip" required>
								</div>
							</div>

							<div class="form-group">
								<input type="text" class="form-control input-lg" placeholder="Contact No." ref="contactNo">
							</div>

							<div class="form-group">
								<input type="email" class="form-control input-lg" placeholder="Email" ref="email" required>
							</div>

							<div class="form-group">
								<input type="password" class="form-control input-lg" placeholder="Password" ref="password" required>
							</div>

							<div class="form-group" v-if="services.length > 0">
								<select class="form-control" v-model="selectedService">
									<option selected value="NA">Select Service to Avail</option>
									<option v-for="service in services" :value="service._id">{{ service.name }}</option>
								</select>
								<small class="text-muted">30 day free trial on you selected default service</small>
							</div>

							<div class="form-group">
								<button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
							</div>

							<p class="mt-4">
								Already have an Account?
								<router-link to="signin">
									Signin here
								</router-link>
							</p>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>


<style scoped src="./index.css"></style>


<script type="text/javascript">
	import vue from "./index.js";
	export { vue as default }
</script>