<template>

	<div class="container pt-5">
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">

				<div class="card">
					<img class="card-img-top" src="/static/sign-banner.jpeg">
					<div class="card-block">
						<form v-on:submit.prevent="signin" class="p-4">
							<div class="form-group">
								<input type="email" class="form-control input-lg" placeholder="Email" ref="email" required>
							</div>

							<div class="form-group">
								<input type="password" class="form-control input-lg" placeholder="Password" ref="password" required>
							</div>

							<div class="form-group">
								<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
							</div>

							<p class="mt-4">
								Don't have an Account?
								<router-link to="signup">
									Signup
								</router-link>
								Now!
							</p>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

</template>


<style scoped src="./index.css"></style>


<script type="text/javascript">
	import vue from "./index.js";
	export { vue as default }
</script>